* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.main-body {
  display: flex;
  padding-top: 50px;
}



button {
  border: none;
  cursor: pointer;
}



.sidebar {
  width: 400px;
  min-height: 800px;
  padding: 100px 50px;
  border-radius: 0 25px 0 0;
  color: #fff;
  background-color: #000;
}

.sidebar__title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__add {
  margin-top: 50px;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #444;
  color: darkgray
}

.sidebar__add:hover {
  color: #fff
}

.sidebar__list {
  margin-top: 50px;
  list-style: none;
}



.project-item {
  margin-top: 10px;
}

.project-item__button {
  width: 100%;
  padding: 8px 10px;
  text-align: left;
  font-size: 1.125rem;
  background-color: transparent;
  color: darkgray;
}

.project-item__button.active,
.project-item__button:hover {
  background-color: #222;
  color: white;
}



main {
  width: 600px;
  padding: 100px 50px;
}



.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: -7.5px;
  margin-right: -7.5px;
  list-style: none;
}

.actions__item {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.actions__button {
  padding: 15px;
  border-radius: 5px;
  font-size: 1.125rem;
  background-color: #000;
  color: #fff;
}

.actions__button:hover {
  background-color: #444;
  color: #fff;
}

.actions__button--transparent {
  background-color: transparent;
  color: #000;
}

.actions__button--transparent:hover {
  text-decoration: underline;
  background-color: transparent;
  color: #000;
}

.actions__button--delete:hover {
  color: red;
}



.edit-project__form {
  margin-top: 30px;
}



.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.input-group label {
  text-transform: uppercase;
  font-weight: 700;
  color: #444;
}

.input-group input,
.input-group textarea {
  width: 100%;
  margin-top: 3px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #bbb;
  background-color: #ddd;
  color: #000;
}

.input-group textarea {
  resize: vertical;
  height: 100px
}

.input-group input:focus-within,
.input-group textarea:focus-within {
  border-bottom-color: #999;
}



.no-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-project__logo {
  width: 100px;
  height: auto;
}

.no-project__title {
  margin-top: 25px;
  font-size: 1.75rem;
}

.no-project__description {
  margin-top: 25px;
  font-size: 1.25rem;
}

.no-project__new {
  margin-top: 50px;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #222;
  color: darkgray;
}

.no-project__new:hover {
  color: #fff
}



.view-project__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.view-project__title {
  font-size: 2.75rem;
}

.view-project__date {
  margin-top: 10px;
  font-size: 1.25rem;
  opacity: 0.65;
}

.view-project__body {
  margin-top: 25px;
}



.separator {
  display: block;
  margin-top: 15px;
  border: none;
  width: 100%;
  height: 2px;
  background-color: #444;
}



.tasks__title {
  font-size: 2rem;
  margin-top: 30px;
}

.tasks__form .input-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tasks .input-group input {
  flex-grow: 0;
  width: 250px;
}

.tasks__submit {
  height: 37px;
  padding-left: 25px;
  padding-right: 15px;
  font-size: 1.125rem;
  background-color: transparent;
  color: #444;
  white-space: nowrap;
}

.tasks__submit:hover {
  color: #000;
}

.tasks__none {
  margin-top: 25px;
}

.tasks__list {
  margin-top: 25px;
  padding: 35px 25px 50px;
  border-radius: 10px;
  list-style: none;
  background-color: #eee;
}



.task {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__delete {
  padding: 5px 5px 5px 25px;
  font-size: 0.875rem;
  color: #222;
}

.task__delete:hover {
  color: red;
}